@charset "UTF-8";

/*Aparelho deitado*/


@media only screen and (min-width: 600px){
    body{
        background: url('../imagens/cev-landscape.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}